
.question {
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}

/* Container to hold the Question themselves */
.question-container {
/*    border: solid blue thin;
    background-color: lightcyan;*/
}

/* Container to hold to question selector */
.question-box {
/*    border: solid red thin;
    background-color: lightpink;*/
}

/* Quiz Name Banner */
.question-title {
    margin-left: 0.5em; 
    margin-right: 0.5em; 
    border-bottom: solid black 2px;
}

/*  */
.quiz-timer {
    
}